<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
</head>

<body>

    <!-- Navigation -->
    <nav>
        <ul>
            <li>
                {% if user.is_authenticated %}
                <a id="logout" href="/logout">Logout</a>
                <a id="home" href="/">Home</a>
                {% else %}
                <a id="login" href="/login">Login</a>
                <a id="signUp" href="/sign-up">Sign UP</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    
        {% if messages %}

            {% for category, message in messages %}

                {% if category == 'error' %}
                    <p>Error: {{message}}</p>

                {% elif category == 'success'%}
                    <p>Success: {{message}}</p>
                {% else %}
                    <p>Alert: {{message}} </p>
                {% endif %}
                

            {% endfor %}

        {% endif %}

    {% endwith %}

    <!-- Main content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"
    ></script>

</body>

</html>