{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %}

<style>
    form {
        display: flex;
        flex-direction: column;
    }
</style>

<form method="post">
    <h1>Login</h1>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Enter your email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter your password">

    <button type="submit">
        Submit
    </button>

</form>
{% endblock %}